results/*
output/*
__pycache__/*
data/iemocap/wavs*
data/iemocap/mfb.csd
data/iemocap/mfb.pk
data/uni.pk
data/iemocap/ie_wavs.tar
data/iemocap/mfb*
data/mosei*
models/*
tensors/*
.*.pkl
.vscode
*secrets*
*.ipynb
demo/*
demo_data2
iemocap_test_data
.temp*

test_data/wavs_segments
test_data/wavs_recombined
act_model/
val_model/

preprocess_iemocap.py

blah*
df.pk
inference.pk
launch_codes.py
output.pk